$title: (
    title:35px,
    paragraph: 16px
);
$spacing: (
    p-l: 30px,
    p-m: 20px,
    p-s: 10px,
    p_xs: 0px 
);

$dir: (
  latin: ltr,
);
$font-list: (
  latin: 'arial, helvetica, sans-serif'
);
$header-theme: (
    bg-color: #666
    text-color: white
);
$nav-theme: (
    bg-color: #ccc
);
$article-theme: (
bg-color: #f1f1f1
);
$footer-theme: (
    bg-color: #777
    text-color: white
);